.nav {
  @include flexBetween;
  position: fixed;
  top: 0;
  z-index: 11;
  padding: 0 5rem;
  width: 100%;
  height: var(--nav-height);
  background-color: rgba(10, 25, 47, 0.85);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  backdrop-filter: blur(1rem);
  transition: var(--transition);

  @media (max-width: 1080px) {
    padding: 0 4rem;
  }
  @media (max-width: 768px) {
    padding: 0 2.5rem;
  }

  &__navigation {
    @include flexBetween;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;

    svg {
      height: 4.2rem;
      width: 4.2rem;
      fill: var(--orange);
    }
  }

  &__links {
    @include flexBetween;
    @media (max-width: 768px) {
      display: none;
    }

    ol {
      @include resetList;
      @include flexCenter;
    }

    &__item {
      counter-increment: nav-item 1;

      a {
        &:visited,
        &:link {
          margin: 0 2rem;
          padding: 5px 0;
          color: var(--lightest-slate);
          text-decoration: none;
          border-bottom: 2px solid transparent;
          -webkit-transition: border-bottom 0.2s;
          transition: color 0.2s;
          font-size: 1.3rem;
          font-family: var(--font-mono);
          text-transform: capitalize;
        }

        &:active,
        &:hover {
          color: var(--orange);
        }

        &::before {
          content: '0' counter(nav-item) '.';
          margin-right: 5px;
          color: var(--orange);
          font-size: var(--fz-xxs);
          text-align: right;
        }
      }
    }
  }
}

.hamburger {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }

  &__button {
    @include flexCenter;
    position: relative;
    background-color: transparent;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    z-index: 1500;
    text-align: center;
    cursor: pointer;
  }

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 1.25em;
      height: 2px;
      background-color: var(--orange);
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }

  }

  &__background {
    opacity: 0;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 2.5rem;
    background-color: var(--navy);
    z-index: 1000;
    //transform: scale(80);
    transition: transform .8s cubic-bezier(.86, 0, .07, 1), opacity .8s cubic-bezier(.86, 0, .07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1250;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(.68, -.55, .265, 1.55);

    &__list {
      @include absCenter;

      list-style: none;
      text-align: center;

      &__item {
        margin: 1rem;

        &__link {
          &:link,
          &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--orange) 50%);
            background-size: 250%;
            transition: all .4s;

            span {
              margin: 1rem;
              display: inline-block;
            }
          }

          &:active,
          &:hover {
            background-position: 100%;
            color: #ffffff;
            transform: translateX(1rem);
          }
        }
      }
    }

    &__resume {
      font-size: 2rem !important;
      margin-top: 2rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &--open &__button &__icon {
    background-color: transparent;
  }

  &--open &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &--open &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  &--open &__background {
    opacity: 1;
    transform: scale(80);
  }

  &--open &__nav {
    opacity: 1;
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}


.side-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--light-slate);
  }

  a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: 1.3rem;
    line-height: var(--fz-lg);
    letter-spacing: 0.1rem;
    writing-mode: vertical-rl;
    color: var(--light-slate);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--orange);
      transform: translateY(-3px);
    }
  }
}

.side-social {
  list-style: none;
  display: flex;
  flex-direction: column;

  &:after {
    content: "";
    height: 9rem;
    width: .2rem;
    background-color: var(--light-slate);
    margin: 0 auto;
  }

  li {
    padding: .5rem 0;
    margin: .25rem 0;
    transition: all .2s;

    &:last-of-type {
      margin-bottom: 2rem;
    }

    &:last-child a svg {
      height: 3rem;
      stroke: transparent;
      fill: var(--light-slate);
    }

    &:hover {
      transform: translateY(-3px);

      a svg {
        stroke: var(--orange);
      }

      &:last-child a svg {
        fill: var(--orange);
      }
    }

    a {
      padding: 0 1rem;

      svg {
        height: 2rem;
        width: 2rem;
        stroke: var(--light-slate);
      }
    }
  }
}
