@charset "UTF-8";
:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --orange: #FCA311;
  --orange2: #FFB742;
  --orange-tint: rgba(255, 179, 77, 0.1);
  --font-sans: "Calibre", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-xxs: 1.2rem;
  --fz-xs: 1.3rem;
  --fz-sm: 1.4rem;
  --fz-md: 1.6rem;
  --fz-lg: 1.8rem;
  --fz-xl: 2rem;
  --fz-xxl: 2.2rem;
  --fz-heading: 3.2rem;
  --border-radius: .4rem;
  --nav-height: 10rem;
  --nav-scroll-height: 7rem;
  --tab-height: 4.2rem;
  --tab-width: 12rem;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out,
  transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: var(--light-navy);
  color: var(--orange2);
}

:focus {
  outline: 2px dashed var(--orange);
  outline-offset: 3px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--navy);
  box-sizing: border-box;
  color: var(--slate);
  font-weight: 300;
  font-size: 2rem;
  font-family: var(--font-sans);
}

section {
  margin: 0 auto;
  padding: 10rem 1rem;
  max-width: 100rem;
}
@media (max-width: 768px) {
  section {
    padding: 8rem 1rem;
  }
}
@media (max-width: 480px) {
  section {
    padding: 6rem 1rem;
  }
}

p {
  margin: 20px 0 0;
  max-width: 500px;
  line-height: 2.5rem;
  letter-spacing: 1px;
}
p a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--orange);
}
p a:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    bottom: 0.5rem;
    background-color: var(--orange);
    transition: var(--transition);
    opacity: 0.5;
}
p a:hover:after {
  width: 100%;
  left: 0;
  background: var(--orange);
}
p a[target=_blank] {
  cursor: help;
}

ul.fancy-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: var(--fz-lg);
}
ul.fancy-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
ul.fancy-list li:before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--orange);
}

span {
  color: var(--orange);
}

main {
  counter-reset: section;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}
a:hover, a:focus {
  color: var(--orange);
}
a.inline-link {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}
a.inline-link:hover, a.inline-link:focus, a.inline-link:active {
  color: var(--green);
  outline: 0;
}
a.inline-link:hover:after, a.inline-link:focus:after, a.inline-link:active:after {
  width: 100%;
}
a.inline-link:hover > *, a.inline-link:focus > *, a.inline-link:active > * {
  color: var(--green) !important;
  transition: var(--transition);
}
a.inline-link:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  transition: var(--transition);
  opacity: 0.5;
}
a[target=_blank] {
  cursor: ne-resize;
}

/* Fade up */
.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

/* Fade down */
.fadedown-enter {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

/* Fade */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--easing);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--easing);
}

.test__h1 {
  color: #000;
}

.big-heading {
  margin: 0;
  font-size: clamp(4rem, 8vw, 8rem);
  color: var(--lightest-slate);
}

.medium-heading {
  margin: 0;
  font-size: clamp(4rem, 8vw, 6rem);
}

.section-heading {
  font-size: 3rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  color: var(--lightest-slate);
  font-weight: 600;
  margin: 1rem 0 4rem 0;
}
.section-heading:before {
  position: relative;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 1rem;
  font-weight: 400;
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  color: var(--orange);
  font-family: var(--font-mono);
  bottom: 4px;
}
.section-heading:after {
  content: "";
  display: block;
  position: relative;
  width: 30rem;
  height: 1px;
  background-color: var(--orange-tint);
  margin-left: 3rem;
  top: -0.3rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 4rem;
    backdrop-filter: blur(10px);
    z-index: 100;
    counter-reset: nav-item 0;
}
.nav svg {
  height: 4.2rem;
  width: 4.2rem;
  fill: var(--orange);
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__links ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__links__item {
    counter-increment: nav-item 1;
}

.nav__links__item a:visited, .nav__links__item a:link {
    margin: 0 2rem;
    padding: 5px 0;
    color: var(--lightest-slate);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: color 0.2s;
    font-size: 1.3rem;
    font-family: var(--font-mono);
    text-transform: capitalize;
}

.nav__links__item a:active, .nav__links__item a:hover {
    color: var(--orange);
}

.nav__links__item a::before {
    content: "0" counter(nav-item) ".";
    margin-right: 5px;
    color: var(--orange);
    font-size: var(--fz-xxs);
    text-align: right;
}

.side-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.side-email:after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--light-slate);
}
.side-email a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: 1.3rem;
    line-height: var(--fz-lg);
    letter-spacing: 0.1rem;
    writing-mode: vertical-rl;
    color: var(--light-slate);
    text-decoration: none;
}
.side-email a:hover, .side-email a:focus {
    color: var(--orange);
    transform: translateY(-3px);
}

.side-social {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.side-social:after {
    content: "";
    height: 9rem;
    width: 0.2rem;
    background-color: var(--light-slate);
    margin: 0 auto;
}
.side-social li {
    padding: 0.5rem 0;
    margin: 0.25rem 0;
    transition: all 0.2s;
}
.side-social li:last-of-type {
    margin-bottom: 2rem;
}
.side-social li:last-child a svg {
    height: 3rem;
    stroke: transparent;
    fill: var(--light-slate);
}
.side-social li:hover {
    transform: translateY(-3px);
}
.side-social li:hover a svg {
    stroke: var(--orange);
}
.side-social li:hover:last-child a svg {
    fill: var(--orange);
}
.side-social li a {
    padding: 0 1rem;
}
.side-social li a svg {
    height: 2rem;
    width: 2rem;
    stroke: var(--light-slate);
}

.btn {
    color: var(--orange);
    background-color: transparent;
    border: 1px solid var(--orange);
    border-radius: var(--border-radius);
    font-size: var(--fz-xs);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    padding: 1.25rem 1.75rem;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: var(--orange-tint);
  outline: none;
}
.btn:after {
  display: none !important;
}

.about {
  max-width: 90rem;
}
.about .about-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: baseline;
}
.about .about-content .photo {
  display: block;
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--orange);
}
.about .about-content .photo:hover, .about .about-content .photo:focus {
  background: transparent;
  outline: 0;
}
.about .about-content .photo:hover:after, .about .about-content .photo:focus:after {
  top: 15px;
  left: 15px;
}
.about .about-content .photo:hover .img, .about .about-content .photo:focus .img {
  filter: none;
  mix-blend-mode: normal;
}
.about .about-content .photo .img {
  position: relative;
  border-radius: var(--border-radius);
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  transition: var(--transition);
}
.about .about-content .photo:before, .about .about-content .photo:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.about .about-content .photo:before {
  top: 0;
  left: 0;
  background-color: var(--navy);
  mix-blend-mode: screen;
}
.about .about-content .photo:after {
  border: 2px solid var(--orange);
  top: 20px;
  left: 20px;
  z-index: -1;
}
.about .about-content .skill-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;
}
.about .about-content .skill-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}
.about .about-content .skill-list li:before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--orange);
  font-size: var(--fz-sm);
  line-height: 12px;
}

.jobs {
  max-width: 70rem;
}
.jobs__content {
  display: flex;
}
@media (max-width: 600px) {
  .jobs__content {
    display: block;
  }
}
@media (min-width: 700px) {
  .jobs__content {
    min-height: 340px;
  }
}
.jobs__content .tabs-list {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (max-width: 600px) {
  .jobs__content .tabs-list {
    display: flex;
    overflow-x: auto;
    width: calc(100% + 100px);
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .jobs__content .tabs-list {
    width: calc(100% + 50px);
    padding-left: 25px;
    margin-left: -25px;
  }
}
@media (max-width: 600px) {
  .jobs__content .tabs-list li:first-of-type {
    margin-left: 50px;
  }
}
@media (max-width: 480px) {
  .jobs__content .tabs-list li:first-of-type {
    margin-left: 25px;
  }
}
@media (max-width: 600px) {
  .jobs__content .tabs-list li:last-of-type {
    padding-right: 50px;
  }
}
@media (max-width: 480px) {
  .jobs__content .tabs-list li:last-of-type {
    padding-right: 25px;
  }
}
.jobs__content .tabs-list__item {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0 20px 2px;
  border-left: 2px solid var(--lightest-navy);
  background-color: transparent;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}
.jobs__content .tabs-list__item:hover, .jobs__content .tabs-list__item:active, .jobs__content .tabs-list__item:focus {
  color: var(--green);
  outline: 0;
}
.jobs__content .tabs-list__item:active {
  color: var(--orange);
}
@media (max-width: 768px) {
  .jobs__content .tabs-list__item {
    padding: 0 15px 2px;
  }
}
@media (max-width: 600px) {
  .jobs__content .tabs-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    padding: 0 15px;
    border-left: 0;
    border-bottom: 2px solid var(--lightest-navy);
    text-align: center;
  }
}
.jobs__content .tabs-list__item:hover, .jobs__content .tabs-list__item:focus {
  background-color: var(--light-navy);
}
.jobs__content .tabs-list__item--short {
  display: none;
}
@media (max-width: 600px) {
  .jobs__content .tabs-list__item--short {
    display: inline-block;
  }
}
@media (max-width: 600px) {
  .jobs__content .tabs-list__item--long {
    display: none;
  }
}
.jobs__content .tabs-list__highlight {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 2px;
  height: var(--tab-height);
  border-radius: var(--border-radius);
  background: var(--orange);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0.1s;
}
@media (max-width: 600px) {
  .jobs__content .tabs-list__highlight {
    top: auto;
    bottom: 0;
    width: 100%;
    max-width: var(--tab-width);
    height: 2px;
    margin-left: 50px;
  }
}
@media (max-width: 480px) {
  .jobs__content .tabs-list__highlight {
    margin-left: 25px;
  }
}
.jobs__content .tab-panels {
  width: 100%;
  position: relative;
  margin-left: 2rem;
}
@media (max-width: 600px) {
  .jobs__content .tab-panels {
    margin-left: 0;
  }
}
.jobs__content .tab-panels__item {
    width: 100%;
    height: auto;
    padding: 1rem 0.5rem;
}
.jobs__content .tab-panels__item:focus, .jobs__content .tab-panels__item:active {
    outline: none;
}
.jobs__content .tab-panels__item__company {
    margin-bottom: 2px;
    font-size: var(--fz-xxl);
    font-weight: 500;
    line-height: 1.3;
}
.jobs__content .tab-panels__item__company a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}
.jobs__content .tab-panels__item__company a:hover, .jobs__content .tab-panels__item__company a:focus, .jobs__content .tab-panels__item__company a:active {
  color: var(--green);
  outline: 0;
}
.jobs__content .tab-panels__item__company a:hover:after, .jobs__content .tab-panels__item__company a:focus:after, .jobs__content .tab-panels__item__company a:active:after {
  width: 100%;
}
.jobs__content .tab-panels__item__company a:hover > *, .jobs__content .tab-panels__item__company a:focus > *, .jobs__content .tab-panels__item__company a:active > * {
  color: var(--green) !important;
  transition: var(--transition);
}
.jobs__content .tab-panels__item__company a:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  transition: var(--transition);
  opacity: 0.5;
}
@media (max-width: 600px) {
  .jobs__content .tab-panels__item__company--short {
    display: none;
  }
}
.jobs__content .tab-panels__item__company--long {
  display: none;
}
@media (max-width: 600px) {
  .jobs__content .tab-panels__item__company--long {
    display: inline-block;
  }
}
.jobs__content .tab-panels__item__range {
  margin: 0 0 2.5rem;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

.featured__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.featured__list a {
    position: relative;
    z-index: 1;
}
.featured__list__item {
    position: relative;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

@media (max-width: 768px) {
    .featured__list__item {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
    }

    .featured__list__item:hover, .featured__list__item:focus {
        box-shadow: 0 20px 30px -15px var(--navy-shadow);
    }
}
.featured__list__item:not(:last-of-type) {
    margin-bottom: 10rem;
}

@media (max-width: 768px) {
    .featured__list__item:not(:last-of-type) {
        margin-bottom: 7rem;
    }
}

@media (max-width: 480px) {
    .featured__list__item:not(:last-of-type) {
        margin-bottom: 3rem;
    }
}
.featured__list__item:nth-of-type(odd) .featured__list__item__content {
    grid-column: 7/-1;
    text-align: right;
}

@media (max-width: 1080px) {
    .featured__list__item:nth-of-type(odd) .featured__list__item__content {
        grid-column: 5/-1;
    }
}

@media (max-width: 768px) {
    .featured__list__item:nth-of-type(odd) .featured__list__item__content {
        grid-column: 1/-1;
        padding: 4rem 4rem 3rem;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .featured__list__item:nth-of-type(odd) .featured__list__item__content {
        padding: 2.5rem 2.5rem 2rem;
    }
}
.featured__list__item:nth-of-type(odd) .featured__list__item__content__tag-list {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .featured__list__item:nth-of-type(odd) .featured__list__item__content__tag-list {
        justify-content: flex-start;
    }
}
.featured__list__item:nth-of-type(odd) .featured__list__item__content__tag-list li {
    margin: 0 0 0.5rem 2rem;
}

@media (max-width: 768px) {
    .featured__list__item:nth-of-type(odd) .featured__list__item__content__tag-list li {
        margin: 0 1rem 0.5rem 0;
    }
}
.featured__list__item:nth-of-type(odd) .featured__list__item__content__links {
    justify-content: flex-end;
    margin-left: 0;
    margin-right: -1rem;
}

@media (max-width: 768px) {
    .featured__list__item:nth-of-type(odd) .featured__list__item__content__links {
        justify-content: flex-start;
        margin-left: -1rem;
        margin-right: 0;
    }
}
.featured__list__item:nth-of-type(odd) .featured__list__item__image {
    grid-column: 1/8;
}

@media (max-width: 768px) {
    .featured__list__item:nth-of-type(odd) .featured__list__item__image {
        grid-column: 1/-1;
    }
}
.featured__list__item__content {
    position: relative;
    grid-column: 1/7;
    grid-row: 1/-1;
}

@media (max-width: 1080px) {
    .featured__list__item__content {
        grid-column: 1/9;
    }
}

@media (max-width: 768px) {
    .featured__list__item__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        grid-column: 1/-1;
        padding: 4rem 4rem 3rem;
        z-index: 5;
    }
}

@media (max-width: 480px) {
    .featured__list__item__content {
        padding: 3rem 2.5rem 2rem;
    }
}
.featured__list__item__content__overline {
    margin: 1rem 0;
    color: var(--orange);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
}
.featured__list__item__image {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-column: 6/-1;
    grid-row: 1/-1;
    position: relative;
    z-index: 1;
}
.featured__list__item__image:hover, .featured__list__item__image:focus {
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

@media (max-width: 768px) {
    .featured__list__item__image {
        grid-column: 1/-1;
        height: 100%;
        opacity: 0.25;
    }
}
.featured__list__item__image__link {
    width: 100%;
    height: 100%;
    background-color: var(--orange-tint);
    border-radius: var(--border-radius);
    vertical-align: middle;
}
.featured__list__item__image__link:hover, .featured__list__item__image__link:focus {
    background: transparent;
    outline: 0;
}
.featured__list__item__image__link:hover:before,
.featured__list__item__image__link:hover .featured__list__item__image__link__img, .featured__list__item__image__link:focus:before,
.featured__list__item__image__link:focus .featured__list__item__image__link__img {
    background: transparent;
    filter: none;
}
.featured__list__item__image__link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: var(--transition);
    background-color: var(--navy);
    mix-blend-mode: screen;
}
.featured__list__item__image__link__img {
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
}

@media (max-width: 768px) {
    .featured__list__item__image__link__img {
        object-fit: cover;
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(80%);
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projects__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light-slate);
}
.projects__header h2 {
    font-size: 3.2rem;
}
.projects__header p {
    font-size: 1.4rem;
    font-family: "SF Mono", monospace;
    margin-top: 1rem;
}
.projects__grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-gap: 2rem;
    margin-top: 3rem;
}

@media (max-width: 1080px) {
    .projects__grid {
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
}
.projects__grid__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    background-color: var(--light-navy);
    padding: 2rem 1.75rem;
    transition: var(--transition);
}
.projects__grid__item:hover {
    cursor: pointer;
    transform: translateY(-0.7rem);
}
.projects__grid__item:hover h3 {
    color: var(--orange);
}
.projects__grid__item header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: flex-end;
}
.projects__grid__item header > svg {
    height: 4rem;
    width: 4rem;
    stroke: var(--orange);
}
.projects__grid__item header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.projects__grid__item header ul :not(:first-child) {
    margin-left: 1rem;
}
.projects__grid__item header ul li a svg {
    height: 2rem;
    width: 2rem;
}
.projects__grid__item h3 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--lightest-slate);
}
.projects__grid__item p {
    color: var(--light-slate);
    font-size: 1.7rem;
    line-height: 2.2rem;
}
.projects > button {
    margin-top: 7rem;
}

.project__heading {
    color: var(--lightest-slate);
    font-size: clamp(2.4rem, 5vw, 2.8rem);
}

@media (min-width: 768px) {
    .project__heading {
        margin: 0 0 20px;
    }
}

@media (max-width: 768px) {
    .project__heading {
        color: var(--white);
    }

    .project__heading a {
        position: static;
    }

    .project__heading a:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.project__description {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 2.5rem;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: var(--fz-lg);
}
.project__description:hover, .project__description:focus {
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

@media (max-width: 768px) {
    .project__description {
        padding: 2rem 0;
        background-color: transparent;
        box-shadow: none;
    }

    .project__description:hover {
        box-shadow: none;
    }
}
.project__description a {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--green);
}
.project__description a:hover, .project__description a:focus, .project__description a:active {
    color: var(--green);
    outline: 0;
}
.project__description a:hover:after, .project__description a:focus:after, .project__description a:active:after {
    width: 100%;
}
.project__description a:hover > *, .project__description a:focus > *, .project__description a:active > * {
    color: var(--green) !important;
    transition: var(--transition);
}
.project__description a:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--green);
    transition: var(--transition);
    opacity: 0.5;
}
.project__tags {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 2.5rem 0 1rem;
    padding: 0;
    list-style: none;
}
.project__tags li {
    margin: 0 2rem 0.5rem 0;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
}

@media (max-width: 768px) {
    .project__tags {
        margin: 1rem 0;
    }

    .project__tags li {
        margin: 0 1rem 0.5rem 0;
        color: var(--lightest-slate);
    }
}
.project__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    margin-left: -1rem;
    color: var(--lightest-slate);
}
.project__links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.project__links a svg {
    width: 2rem;
    height: 2rem;
}
.project__links a svg.svg-npm {
    width: 3.5rem;
    fill: var(--lightest-slate);
    height: 3.5rem;
}

/*# sourceMappingURL=main.css.map */
