
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: var(--light-navy);
  color: var(--orange2);
}

:focus {
  outline: 2px dashed var(--orange);
  outline-offset: 3px;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  background-color: var(--navy);
  box-sizing: border-box;
  color: var(--slate);
  font-weight: 300;
  font-size: 2rem;
  font-family: var(--font-sans);
}

section {
  margin: 0 auto;
  padding: 10rem 1rem;
  max-width: 100rem;

  @media (max-width: 768px) {
    padding: 8rem 1rem;
  }

  @media (max-width: 480px) {
    padding: 6rem 1rem;
  }
}

p {
  margin: 20px 0 0;
  max-width: 500px;
  line-height: 2.5rem;

  a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--orange);

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      position: relative;
      bottom: 0.5rem;
      background-color: var(--orange);
      transition: var(--transition);
      opacity: 0.5;
    }

    &:hover:after {
      width: 100%;
      left: 0;
      background: var(--orange);
    }

    &[target='_blank'] {
      cursor: help;
    }
  }
}

ul {
  &.fancy-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fz-lg);

    li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;

      &:before {
        content: '▹';
        position: absolute;
        left: 0;
        color: var(--orange);
      }
    }
  }
}

span {
  color: var(--orange);
}

main {
  counter-reset: section;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);

  &:hover,
  &:focus {
    color: var(--orange);
  }

  &.inline-link {
    @include inlink-link;
  }

  &[target='_blank'] {
    cursor: ne-resize;
  }
}
