.btn {
  color: var(--orange);
  background-color: transparent;
  border: 1px solid var(--orange);
  border-radius: var(--border-radius);
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  padding: 1.25rem 1.75rem;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--orange-tint);
    outline: none;
  }

  &:after {
    display: none !important;
  }
}
